@import 'varaible';
body{
    font-family: Verdana, Tahoma, sans-serif !important;
}
.green_color{
    width:10px;
    height: 10px;
    background:$green;
    display: inline-block;
    margin-left: 5px;
}
.red_color{
    width:10px;
    height: 10px;
    background:$red;
    display: inline-block;
    margin-left: 5px;
}
.chlid-class a:nth-child(1) {
    color:$green;
  }
.chlid-class a:nth-child(2) {
    color:$red;
  }
  .chlid-class a:nth-child(3) {
    color:$blue;
  }
.blue_color{
    width:10px;
    height: 10px;
    background:$blue;
    display: inline-block;
    margin-left: 5px;
}
#accordion .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: -5px;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 0;
}
#accordion .panel-title a{
    display: block;
    padding: 15px 70px 15px 5px;
   

letter-spacing: 1px;
color:$white;
border-bottom: 1px solid $light-gray;
position: relative;
font-size: 14px;
font-weight: 500;
}
#accordion .title a.collapsed{ color:$white; }
#accordion .title a.collapsed:hover{ color:$white; }
#accordion .title a:before,
#accordion .title a:after{
content: "";
width: 3px;
height: 10px;
background:$blue;
font-size: 15px;
position: absolute;
top: 20px;
right: 35px;
transform: rotate(45deg);
transition: all 0.3s ease-in-out 0s;
}
#accordion .panel-heading a{text-decoration:none;}
#accordion .title a:after{
right: 29px;
transform: rotate(-45deg);
}
#accordion .title a.collapsed:before{
transform: rotate(-45deg);
background:$white;
}
#accordion .title a.collapsed:after{
transform: rotate(45deg);
background:$white;
}
#accordion .title a.collapsed:hover:before,
#accordion .title a.collapsed:hover:after{ background:$blue; }
#accordion .panel-body{
padding: 10px 10px;
background:$blue;
border-top: none;
font-size: 15px;
color:$white;
line-height: 25px;
}

.fixed_top{
    margin-top: 56px;
}
.height-row{height: 100%;}
.bg-blue{background-color:$blue;}
.bg-black{background-color:$black;}
.navbar-light .navbar-nav .nav-link{color: $white;}
.bh_chart small {
		display: table;
	}
.bh_chart {
	margin-left:15px; 
	margin-right:15px;
	display:inline-block;
}
.card {
    border-radius: .55rem;
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
.card .top {
    color: #444;
    padding: 20px;
    font-weight: 400;
}
.top_counter .icon {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #eee;
    border-radius: .55rem;
    margin-right: 10px;
}
.top_counter .content {
    height: 50px;
}
.top_counter .icon {
    line-height: 49px;
    font-size: 20px;
    text-align: center;
}
.content_full{
    background-color: $content-gray;
}
.stat-item {
    display: inline-block;
    padding-right: 15px;
}
.stat-item h5{
    font-size: 13px;
}
.stat-item .col-black{
    font-size: 14px;
}
.card .header{
    color:#444;
    padding:20px;
    position:relative;
    box-shadow:none
}
.card .header .header-dropdown{
    position:absolute;
    top:14px;
    right:15px;
    list-style:none
}
.card .header .header-dropdown li{
    display: inline-block;
}
.card .header .header-dropdown .tab_btn{
    font-size:12px;
    font-weight:700;
    background:#eee;
    color:#777;
    width:32px;
    height:32px;
    line-height:32px;
    margin: 0 2px;
}
.card .header .header-dropdown .tab_btn.active,.card .header .header-dropdown .tab_btn:hover{
    background:#01b2c6;
    color:#fff;
    text-decoration: none;
}
.card .header .header-dropdown .dropdown-toggle:after{
    content:"\f142";
    font-family:'FontAwesome';
    border:0;
    vertical-align:middle;
    height:auto;
    width:auto
}
.card .header .header-dropdown li a{
    padding:5px 10px
}
.card .header .header-dropdown li .dropdown-menu{
    border-radius:.55rem;
    background:#17191c;
    overflow:hidden;
    transform:none !important;
    left:auto !important;
    right:0;
    padding:10px;
    box-shadow:0px 2px 20px 0px rgba(0,0,0,0.5);
    border:0
}
.card .header .header-dropdown li .dropdown-menu li{
    display:block !important
}
.card .header .header-dropdown li .dropdown-menu li a{
    color:#999;
    font-size:14px;
    padding:10px;
    white-space:nowrap
}
.card .header .header-dropdown li .dropdown-menu li a:hover{
    color:#fff
}
.card .header .header-dropdown i{
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;
    font-size:20px;
    color:#999
}
.card .header h2{
    font-size:16px;
    color:#444;
    position:relative
}
.card .header h2 small{
    font-size:13px;
    color:#999;
    line-height:15px
}
.card .header h2 small a{
    font-weight:700;
    color:#777
}
.card .p-15{
    padding:15px !important
}
.todocheckbox {
    padding-left: 0;
    list-style: none;
}
.todocheckbox li{
    margin-bottom: 30px;
}
.table td{
    vertical-align:middle;

}
.badge {
    padding: 4px 8px;
    text-transform: uppercase;
    line-height: 12px;
    border: 1px solid;
    font-weight: 400;
}
.badge-success {
    background: transparent;
    border-color: #22af46;
    color: #22af46;
}
.badge-warning {
    background: transparent;
    border-color: #f3ad06;
    color: #f3ad06;
}
.badge-primary {
    background: transparent;
    border-color: #01b2c6;
    color: #01b2c6;
}
.badge-danger {
    background: transparent;
    border-color: #de4848;
    color: #de4848;
}
.preview
{
    padding: 0px;
    position: relative;
}

.preview i
{
    color: white;
    font-size: 35px;
    transform: translate(50px,130px);
}

.preview-img
{
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
}

.browse-button
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute; /* Tweak the position property if the element seems to be unfit */
    top: 0px;
    left: 53px;
    background: linear-gradient(180deg, transparent, black);
    opacity: 0;
    transition: 0.3s ease;
}

.browse-button:hover
{
    opacity: 1;
}

.browse-input
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: translate(-1px,-26px);
    opacity: 0;
}




