<nav class="navbar navbar-expand-lg navbar-light bg-blue fixed-top">
    <a class="navbar-brand col-md-3" href="#">
        <b>HR-APP</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 mr-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Color
                </a>
                <div class="dropdown-menu dropdown-menu-right chlid-class" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Green<span class="green_color"></span></a>
                    <a class="dropdown-item" href="#">Red<span class="red_color"></span></a>
                    <a class="dropdown-item" href="#">Blue<span class="blue_color"></span></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="#"><i _ngcontent-c0="" class="fa fa-user"></i> My Profile</a>
                    <a class="dropdown-item" href="#"><i _ngcontent-c0="" class="fa fa-envelope"></i> Messages</a>
                    <a class="dropdown-item" href="#"><i _ngcontent-c0="" class="fa fa fa-cog fa-fw"></i> Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i _ngcontent-c0="" class="fa fa-sign-out"></i> Logout</a>
                </div>
            </li>
        </ul>

    </div>
</nav>
<div class="container-fluid content_full">
    <div class="fixed_top">
        <div class="row">
            <div class="col-md-3 col-sm-12 position-fixed bg-black height-row">
                <div class="container">
                    <div class="row">
                        <div class="panel-group col-md-12" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title ">
                                        <a href="#">
                                            HR Dashboard
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title ">
                                        <a href="#">
                                            Events
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title ">
                                        <a href="#">
                                            HR Social
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title title">
                                        <a class=" collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">
                                            Employees
                                        </a>
                                    </h4>
                                </div>
                                <!--/.panel-heading -->
                                <div id="collapseOne" class="panel-collapse collapse" aria-expanded="true" style="">
                                    <div class="panel-body">
                                        <!-- nested -->
                                        <div class="panel-group" id="nested">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title title">
                                                        <a href="#">
                                                            All Employees

                                                        </a>
                                                    </h4>
                                                </div>
                                                <!--/.panel-heading -->

                                                <!--/.panel-collapse -->
                                            </div>
                                            <!-- /.panel -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title title">
                                                        <a href="#">
                                                            Leave Requests

                                                        </a>
                                                    </h4>
                                                </div>
                                                <!--/.panel-heading -->

                                                <!--/.panel-collapse -->
                                            </div>
                                            <!-- /.panel -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title title">
                                                        <a href="#">
                                                            Attendance

                                                        </a>
                                                    </h4>
                                                </div>
                                                <!--/.panel-heading -->

                                                <!--/.panel-collapse -->
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title title">
                                                        <a href="#">

                                                            Departments
                                                        </a>
                                                    </h4>
                                                </div>
                                                <!--/.panel-heading -->

                                                <!--/.panel-collapse -->
                                            </div>
                                            <!-- /.panel -->

                                            <!-- /.panel -->
                                        </div>
                                        <!-- /.panel-group -->
                                        <!-- nested -->
                                    </div>
                                    <!--/.panel-body -->
                                </div>
                                <!--/.panel-collapse -->
                            </div>
                            <!-- /.panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title title">
                                        <a class=" collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">
                                            Accounts
                                        </a>
                                    </h4>
                                </div>
                                <!--/.panel-heading -->
                                <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="true" style="">
                                    <div class="panel-body">
                                        <!-- nested -->
                                        <div class="panel-group" id="nested">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title title">
                                                        <a href="#">
                                                            Payroll

                                                        </a>
                                                    </h4>
                                                </div>
                                                <!--/.panel-heading -->

                                                <!--/.panel-collapse -->
                                            </div>
                                            <!-- /.panel -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title title">
                                                        <a href="#">
                                                            Report

                                                        </a>
                                                    </h4>
                                                </div>
                                                <!--/.panel-heading -->

                                                <!--/.panel-collapse -->
                                            </div>
                                            <!-- /.panel -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title title">
                                                        <a href="#">
                                                            Users

                                                        </a>
                                                    </h4>
                                                </div>
                                                <!--/.panel-heading -->

                                                <!--/.panel-collapse -->
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title title">
                                                        <a href="#">

                                                            Authentication
                                                        </a>
                                                    </h4>
                                                </div>
                                                <!--/.panel-heading -->

                                                <!--/.panel-collapse -->
                                            </div>
                                            <!-- /.panel -->

                                            <!-- /.panel -->
                                        </div>
                                        <!-- /.panel-group -->
                                        <!-- nested -->
                                    </div>
                                    <!--/.panel-body -->
                                </div>
                                <!--/.panel-collapse -->
                            </div>
                            <!-- /.panel -->

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title ">
                                        <a href="contactus.php">
                                            Contact Us
                                        </a>
                                    </h4>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
            <div class="col-md-9 offset-md-3 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2>
                            <a href="#" class="btn btn-xs btn-link btn-toggle-fullwidth">
                                <i class="fa fa-arrow-left"></i>
                            </a> Dashboard</h2>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart">
                            <div class="float-left">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1">
                                    <i class="fa fa-user"></i> 1,784</h6>
                            </div>

                        </div>
                        <div class="bh_chart">
                            <div class="float-left">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1">
                                    <i class="fa fa-user"></i> 1,784</h6>
                            </div>

                        </div>
                        <div class="bh_chart">
                            <div class="float-left">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1">
                                    <i class="fa fa-user"></i> 1,784</h6>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6">
                        <div class="card top_counter">
                            <div class="top">
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="content">
                                    <div class="text">New Employee</div>
                                    <h5 class="number">22</h5>
                                </div>
                                <hr>
                                <div class="icon">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="content">
                                    <div class="text">Total Employee</div>
                                    <h5 class="number">425</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card top_counter">
                            <div class="top">
                                <div class="icon">
                                    <i class="fa fa-university"></i>
                                </div>
                                <div class="content">
                                    <div class="text">Total Salary</div>
                                    <h5 class="number">$2.8M</h5>
                                </div>
                                <hr>
                                <div class="icon">
                                    <i class="fa fa-university"></i>
                                </div>
                                <div class="content">
                                    <div class="text">Avg. Salary</div>
                                    <h5 class="number">$1,250</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card text-center">
                            <div class="top">
                                <h5>Income Analysis</h5>
                                <span>8% High then last month</span>

                                <div class="stats-report m-b-30">
                                    <div class="stat-item">
                                        <h5>Design</h5>
                                        <b class="col-black">84.60%</b>
                                    </div>
                                    <div class="stat-item">
                                        <h5>Dev</h5>
                                        <b class="col-black">15.40%</b>
                                    </div>
                                    <div class="stat-item">
                                        <h5>SEO</h5>
                                        <b class="col-black">5.10%</b>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h2>Salary Statistics</h2>
                                <ul class="header-dropdown">
                                    <li>
                                        <a class="tab_btn" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Weekly">W</a>
                                    </li>
                                    <li>
                                        <a class="tab_btn" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Monthly">M</a>
                                    </li>
                                    <li>
                                        <a class="tab_btn active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Yearly">Y</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                        <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                                            <li>
                                                <a href="#">Action</a>
                                            </li>
                                            <li>
                                                <a href="#">Another Action</a>
                                            </li>
                                            <li>
                                                <a href="#">Something else</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="top">
                                    <canvas id="chBar"></canvas>
                                    <script type="text/javascript">
                                        /* chart.js chart examples */

                                        // chart colors
                                        var colors = ['#007bff', '#28a745', '#333333', '#c3e6cb', '#dc3545', '#6c757d'];



                                        /* bar chart */
                                        var chBar = document.getElementById("chBar");
                                        if (chBar) {
                                            new Chart(chBar, {
                                                type: 'bar',
                                                data: {
                                                    labels: ["S", "M", "T", "W", "T", "F", "S"],
                                                    datasets: [{
                                                        data: [589, 445, 483, 503, 689, 692, 634],
                                                        backgroundColor: colors[0]
                                                    },
                                                    {
                                                        data: [639, 465, 493, 478, 589, 632, 674],
                                                        backgroundColor: colors[1]
                                                    }]
                                                },
                                                options: {
                                                    legend: {
                                                        display: false
                                                    },
                                                    scales: {
                                                        xAxes: [{
                                                            barPercentage: 0.4,
                                                            categoryPercentage: 0.5
                                                        }]
                                                    }
                                                }
                                            });
                                        }





                                    </script>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h2>Salary Statistics</h2>
                                <ul class="header-dropdown">
                                    <li>
                                        <a class="tab_btn" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Weekly">W</a>
                                    </li>
                                    <li>
                                        <a class="tab_btn" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Monthly">M</a>
                                    </li>
                                    <li>
                                        <a class="tab_btn active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Yearly">Y</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                        <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                                            <li>
                                                <a href="#">Action</a>
                                            </li>
                                            <li>
                                                <a href="#">Another Action</a>
                                            </li>
                                            <li>
                                                <a href="#">Something else</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="top">
                                    <canvas id="chBar"></canvas>
                                    <script type="text/javascript">
                                        /* chart.js chart examples */

                                        // chart colors
                                        var colors = ['#007bff', '#28a745', '#333333', '#c3e6cb', '#dc3545', '#6c757d'];



                                        /* bar chart */
                                        var chBar = document.getElementById("chBar");
                                        if (chBar) {
                                            new Chart(chBar, {
                                                type: 'bar',
                                                data: {
                                                    labels: ["S", "M", "T", "W", "T", "F", "S"],
                                                    datasets: [{
                                                        data: [589, 445, 483, 503, 689, 692, 634],
                                                        backgroundColor: colors[0]
                                                    },
                                                    {
                                                        data: [639, 465, 493, 478, 589, 632, 674],
                                                        backgroundColor: colors[1]
                                                    }]
                                                },
                                                options: {
                                                    legend: {
                                                        display: false
                                                    },
                                                    scales: {
                                                        xAxes: [{
                                                            barPercentage: 0.4,
                                                            categoryPercentage: 0.5
                                                        }]
                                                    }
                                                }
                                            });
                                        }





                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h2>ToDo List</h2>


                            </div>
                            <div class="top">
                                <ul class="todocheckbox">
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                        </div>
                                        <div class="offset-md-1">
                                                <small class="text-muted">SCHEDULED FOR 4:30 P.M. ON JUN 2018</small>
                                            </div>
                                    </li>
                                    <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                            </div>
                                            <div class="offset-md-1">
                                                    <small class="text-muted">SCHEDULED FOR 4:30 P.M. ON JUN 2018</small>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                                </div>
                                                <div class="offset-md-1">
                                                        <small class="text-muted">SCHEDULED FOR 4:30 P.M. ON JUN 2018</small>
                                                    </div>
                                            </li>
                                            <li>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                        <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                                    </div>
                                                    <div class="offset-md-1">
                                                            <small class="text-muted">SCHEDULED FOR 4:30 P.M. ON JUN 2018</small>
                                                        </div>
                                                </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                        <div class="col-lg-8 col-md-7">
                            <div class="card">
                                <div class="header">
                                    <h2>Employee Performance</h2>
                                </div>
                                <div class="top">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="thead-dark">
                                                <tr>
                                                <th>Avatar</th>
                                                <th>Name</th>
                                                <th>Designation</th>
                                                <th>Performance</th>
                                                <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><img src="../assets/img/ram.jpg" class="rounded-circle width35" alt=""></td>
                                                    <td>C Ramalinga Reddy</td>
                                                    <td><span>UI UX Designer</span></td>
                                                    <td><span class="badge badge-success">Good</span></td>
                                                    <td><span class="sparkbar"><canvas width="34" height="16" style="display: inline-block; width: 34px; height: 16px; vertical-align: top;"></canvas></span></td>
                                                </tr>
                                                <tr>
                                                    <td><img src="../assets/img/praveen.jpg" class="rounded-circle width35" alt=""></td>
                                                    <td>M Praveen Kemar</td>
                                                    <td><span>UI UX Designer</span></td>
                                                    <td><span class="badge badge-warning">Excellent</span></td>
                                                    <td><span class="sparkbar"><canvas width="34" height="16" style="display: inline-block; width: 34px; height: 16px; vertical-align: top;"></canvas></span></td>
                                                </tr>
                                                <tr>
                                                    <td><img src="../assets/img/harish.jpg" class="rounded-circle width35" alt=""></td>
                                                    <td>Harish Thota</td>
                                                    <td><span>UI gittUX Designer</span></td>
                                                    <td><span class="badge badge-primary">Good</span></td>
                                                    <td><span class="sparkbar"><canvas width="34" height="16" style="display: inline-block; width: 34px; height: 16px; vertical-align: top;"></canvas></span></td>
                                                </tr>
                                                <tr>
                                                    <td><img src="../assets/img/harish.jpg" class="rounded-circle width35" alt=""></td>
                                                    <td>Erin Gonzales</td>
                                                    <td><span>Android Developer</span></td>
                                                    <td><span class="badge badge-danger">Weak</span></td>
                                                    <td><span class="sparkbar"><canvas width="34" height="16" style="display: inline-block; width: 34px; height: 16px; vertical-align: top;"></canvas></span></td>
                                                </tr>
                                                <tr>
                                                    <td><img src="../assets/img/praveen.jpg" class="rounded-circle width35" alt=""></td>
                                                    <td>Ava Alexander</td>
                                                    <td><span>UI UX Designer</span></td>
                                                    <td><span class="badge badge-success">Good</span></td>
                                                    <td><span class="sparkbar"><canvas width="34" height="16" style="display: inline-block; width: 34px; height: 16px; vertical-align: top;"></canvas></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5">
                            <div class="card">
                                <div class="header">
                                    <h2>Employee Structure</h2>
                                </div>
                                <div class="top text-center">
                                    <h6>Male</h6>
                                    <div style="display:inline;width:125px;height:125px;"><canvas width="125" height="125"></canvas><input type="text" class="knob2" data-linecap="round" value="73" data-width="125" data-height="125" data-thickness="0.15" data-fgcolor="#49a9e5" readonly="readonly" style="width: 66px; height: 41px; position: absolute; vertical-align: middle; margin-top: 41px; margin-left: -95px; border: 0px; background: none; font: bold 25px Arial; text-align: center; color: rgb(73, 169, 229); padding: 0px; -webkit-appearance: none;"></div>
                                    <hr>
                                    <h6>Female</h6>
                                    <div style="display:inline;width:125px;height:125px;"><canvas width="125" height="125"></canvas><input type="text" class="knob2" data-linecap="round" value="27" data-width="125" data-height="125" data-thickness="0.15" data-fgcolor="#b880e1" readonly="readonly" style="width: 66px; height: 41px; position: absolute; vertical-align: middle; margin-top: 41px; margin-left: -95px; border: 0px; background: none; font: bold 25px Arial; text-align: center; color: rgb(184, 128, 225); padding: 0px; -webkit-appearance: none;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-lg-8 col-md-8">
                    <form>
                        
                       
                        
                                <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="inputEmail3" placeholder="Name">
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                                              <div class="col-sm-10">
                                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                              </div>
                                            </div>
                                      <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Phone No</label>
                                        <div class="col-sm-10">
                                          <input type="number" class="form-control" id="inputPassword3" placeholder="Phone No">
                                        </div>
                                      </div>
                                      
                                      <fieldset class="form-group">
                                        <div class="row">
                                          <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                                          <div class="col-sm-10">
                                            <div class="form-check-inline">
                                              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                              <label class="form-check-label" for="gridRadios1">
                                                Male &nbsp;
                                              </label>
                                              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                              <label class="form-check-label" for="gridRadios2">
                                                Female
                                              </label>
                                            </div>
                                            
                                            
                                          </div>
                                        </div>
                                      </fieldset>
                       
                        
                    
                        <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Employee ID</label>
                                <div class="col-sm-10">
                                  <input type="email" class="form-control" id="inputEmail3" placeholder="Employee ID">
                                </div>
                              </div>
                        <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Join Date</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="inputEmail3" placeholder="Join Date">
                                </div>
                              </div>
                              
                              <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Role</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="inputPassword3" placeholder="Role">
                                </div>
                              </div>
                              <legend>Address Details</legend>
                              <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Line 1</label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control" id="inputPassword3" placeholder="Address Line 1">
                                    </div>
                                </div>
                                <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Line 2</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="inputPassword3" placeholder="Address Line 2">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-2 col-form-label">City</label>
                                            <div class="col-sm-10">
                                              <input type="text" class="form-control" id="inputPassword3" placeholder="City">
                                            </div>
                                        </div>  
                                        <div class="form-group row">
                                                <label class="col-sm-2 control-label" for="textinput">State</label>
                                                <div class="col-sm-4">
                                                  <input type="text" placeholder="State" class="form-control">
                                                </div>
                                    
                                                <label class="col-sm-2 control-label" for="textinput">Postcode</label>
                                                <div class="col-sm-4">
                                                  <input type="text" placeholder="Post Code" class="form-control">
                                                </div>
                                              </div> 
                                              <div class="form-group row">
                                                    <label class="col-sm-2 control-label" for="textinput">Country</label>
                                                    <div class="col-sm-10">
                                                      <input type="text" placeholder="Country" class="form-control">
                                                    </div>
                                                  </div> 
                                                  <div class="form-group row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10">
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="gridCheck1">
                                                            <label class="form-check-label" for="gridCheck1">
                                                              Same as Residence Anddress
                                                            </label>
                                                          </div>
                                                        </div>
                                                      </div>  
                                                  <div class="form-group row">
                                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Line 1</label>
                                                        <div class="col-sm-10">
                                                          <input type="text" class="form-control" id="inputPassword3" placeholder="Address Line 1">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                            <label for="inputPassword3" class="col-sm-2 col-form-label">Line 2</label>
                                                            <div class="col-sm-10">
                                                              <input type="text" class="form-control" id="inputPassword3" placeholder="Address Line 2">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                                <label for="inputPassword3" class="col-sm-2 col-form-label">City</label>
                                                                <div class="col-sm-10">
                                                                  <input type="text" class="form-control" id="inputPassword3" placeholder="City">
                                                                </div>
                                                            </div>  
                                                            <div class="form-group row">
                                                                    <label class="col-sm-2 control-label" for="textinput">State</label>
                                                                    <div class="col-sm-4">
                                                                      <input type="text" placeholder="State" class="form-control">
                                                                    </div>
                                                        
                                                                    <label class="col-sm-2 control-label" for="textinput">Postcode</label>
                                                                    <div class="col-sm-4">
                                                                      <input type="text" placeholder="Post Code" class="form-control">
                                                                    </div>
                                                                  </div> 
                                                                  <div class="form-group row">
                                                                        <label class="col-sm-2 control-label" for="textinput">Country</label>
                                                                        <div class="col-sm-10">
                                                                          <input type="text" placeholder="Country" class="form-control">
                                                                        </div>
                                                                      </div> 
                                                  <legend>Education Details</legend>
                              <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">SSC</label>
                                    <div class="col-sm-10">
                                            <select class="custom-select">
                                                    <option selected>Select Board</option>
                                                    <option value="1">SSC</option>
                                                    <option value="2">CBS</option>
                                                    <option value="3">Other</option>
                                                  </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Inter</label>
                                        <div class="col-sm-10">
                                                <select class="custom-select">
                                                        <option selected>Select Board</option>
                                                        <option value="1">Inter Board</option>
                                                        <option value="2">Center Board</option>
                                                        <option value="3">Other</option>
                                                      </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-2 col-form-label">Graduation</label>
                                            <div class="col-sm-10">
                                                    <select class="custom-select">
                                                            <option selected>Select University</option>
                                                            <option value="1">Andra University</option>
                                                            <option value="2">JNTU Anantapur</option>
                                                            <option value="3">JNTU Hyderabad</option>
                                                          </select>
                                            </div>
                                        </div>  
                                     
                                              <div class="form-group row">
                                                    <label class="col-sm-2 control-label" for="textinput">Post Graduation</label>
                                                    <div class="col-sm-10">
                                                            <select class="custom-select">
                                                                    <option selected>Select University</option>
                                                                    <option value="1">Andra University</option>
                                                                    <option value="2">JNTU Anantapur</option>
                                                                    <option value="3">JNTU Hyderabad</option>
                                                                  </select>
                                                    </div>
                                                  </div>
                                                  <div class="form-group row">
                                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Attach File</label>
                                                        <div class="col-sm-10">
                                                                <div class="custom-file">
                                                                        <input type="file" class="custom-file-input" id="customFile">
                                                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                                                      </div>
                                                        </div>
                                                      </div> 
                                                      
                        <div class="form-group row">
                          <div class="col-sm-2"></div>
                          <div class="col-sm-10">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="gridCheck1">
                              <label class="form-check-label" for="gridCheck1">
                                    Agree to terms and conditions
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </form>
                      </div>
                      <div class="col-lg-4 col-md-4">
                            <div class="preview text-center">
                                    <img class="preview-img" src="http://simpleicon.com/wp-content/uploads/account.png" alt="Preview Image" width="200" height="200"/>
                                    <div class="browse-button">
                                        <i class="fa fa-pencil-alt"></i>
                                        <input class="browse-input" type="file" required name="UploadedFile" id="UploadedFile"/>
                                    </div>
                                    <span class="Error"></span>
                                </div>
                    </div>
                  </div>  
            </div>